src/conf/xml-resources/web-service-references/PackageCore/wsdl/172.16.168.143_7006/WS_PLE_BRIDGE_SV/PackageCore.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com.claro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com.claro/" name="PackageCore">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com.claro/" schemaLocation="http://172.16.168.143:7006/WS_PLE_BRIDGE_SV/PackageCore?xsd=1"/>
</xsd:schema>
</types>
<message name="AddPackageCorePle">
<part name="parameters" element="tns:AddPackageCorePle"/>
</message>
<message name="AddPackageCorePleResponse">
<part name="parameters" element="tns:AddPackageCorePleResponse"/>
</message>
<message name="renewalPackageCorePle">
<part name="parameters" element="tns:renewalPackageCorePle"/>
</message>
<message name="renewalPackageCorePleResponse">
<part name="parameters" element="tns:renewalPackageCorePleResponse"/>
</message>
<message name="getPackageList">
<part name="parameters" element="tns:getPackageList"/>
</message>
<message name="getPackageListResponse">
<part name="parameters" element="tns:getPackageListResponse"/>
</message>
<portType name="PackageCore">
<operation name="AddPackageCorePle">
<input wsam:Action="http://ws.com.claro/PackageCore/AddPackageCorePleRequest" message="tns:AddPackageCorePle"/>
<output wsam:Action="http://ws.com.claro/PackageCore/AddPackageCorePleResponse" message="tns:AddPackageCorePleResponse"/>
</operation>
<operation name="renewalPackageCorePle">
<input wsam:Action="http://ws.com.claro/PackageCore/renewalPackageCorePleRequest" message="tns:renewalPackageCorePle"/>
<output wsam:Action="http://ws.com.claro/PackageCore/renewalPackageCorePleResponse" message="tns:renewalPackageCorePleResponse"/>
</operation>
<operation name="getPackageList">
<input wsam:Action="http://ws.com.claro/PackageCore/getPackageListRequest" message="tns:getPackageList"/>
<output wsam:Action="http://ws.com.claro/PackageCore/getPackageListResponse" message="tns:getPackageListResponse"/>
</operation>
</portType>
<binding name="PackageCorePortBinding" type="tns:PackageCore">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddPackageCorePle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="renewalPackageCorePle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPackageList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PackageCore">
<port name="PackageCorePort" binding="tns:PackageCorePortBinding">
<soap:address location="http://172.16.168.143:7006/WS_PLE_BRIDGE_SV/PackageCore"/>
</port>
</service>
</definitions>